.wp_widget_jack_member_login {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 30px;
}

.wp_widget_jack_member_login .img-header {
  width: 80%;
  display: block;
  margin: auto;
  margin-bottom: 30px;

}

.wp_widget_jack_member_login .widget-title {
  /*display: none;*/
}
