/* This is just meant to prevent some PHP for original templates causing margin spacing we don't need in our template. */
#page-content {
    margin-top: 0;
    margin-bottom: 20px;
}

.headline {
    font-family: "Proxima Nova", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: normal;
}

.subheading {
    font-family: "Proxima Nova", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: large;
    font-size: 17px;
}

.jack-red {
    color: #AB2328;
}

.jack-button {
    background: linear-gradient(to right, #960E0E, #CC5A5A) !important;
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#960E0E', endColorstr='#CC5A5A',GradientType='1')" !important;
    border: 0px;
    text-transform: capitalize;
    color: white !important;
    font-size: 14px;
}

.jack-button:active {
    background: linear-gradient(to right, #7A0E0E, #B13F3F) !important;
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#7A0E0E', endColorstr='#B13F3F',GradientType='1')" !important;
}

.jk-login-form-container {
    height: 100%;
}

.jk-login-form-container .jk-login-form {
    height: 100%;
    max-width: 360px;
}

/* Own version of the seperator for responsive web pages */
.responsive-jk-separator {
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.responsive-jk-separator .jk-sep-holder {
    height: 1px;
    position: relative;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    min-width: 10%;
    top: -4px;
}

.responsive-jk-separator .jk-heading {
    line-height: 1em;
    margin: 0;
    word-wrap: break-word;
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    padding: 0 18px;
    text-align: center;
}

.responsive-jk-separator .jk-sep-holder .jk-sep-line {
    height: 2px;
    border-top: 2px solid #b4adae;
    display: block;
    position: relative;
    top: 1px;
    width: 100%;
}

.hero-image {
    padding: 0px;
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
}

.hero-section-container img {
    padding: 0px;
}

.hero-section-container iframe {
    padding: 0px;
}

.cards-backdrop {
    padding-bottom: 25px;
    padding-top: 25px;
    background-color: whitesmoke;
}

.responsive-grid-01 .card {
    margin-top: 25px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    height: 267px;
    background-color: white;
}

.card-hero {
    padding: 0px;
}

.card-hero .img-responsive {
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: center;
}

.card-hero-height {
    height: 267px !important;
}

.card-content {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 15px;
}

.card-content-heading {
    margin-bottom: 10px;
}

.card-content-description {
    font-family: "Proxima Nova", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.5;
    margin-bottom: 10px;
}

.card-buttons {
    display: flex;
    font-family: "Proxima Nova", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
}

.card-buttons-container {
    margin: 5px;
}

.card-details {
    display: flex;
    display: -ms-flexbox;
    flex-flow: column;
    padding: 0px;
    width: 100%;
}

/* Standardized Height / Width For Any Logos Used */
.card-details .img-responsive {
    width: 100%;
    height: 100px;
    margin-bottom: 15px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: center;
}

@media (min-width: 992px) {
    .responsive-grid-01 .card {
        width: 950px;
        margin-left: auto;
        margin-right: auto;
    }

    .modal-dialog {
        width: 850px;
    }

    .modal-dialog .embed-responsive {
        height: 478px;
    }
}

@media (max-width: 991px) {
    .responsive-grid-01 .card {
        height: auto;
        width: 475px;
        margin-left: auto;
        margin-right: auto;
        overflow: auto;
    }

    .responsive-grid-01 .card-content {
        height: auto;
    }

    .modal-dialog {
        width: 500px;
    }

    .modal-dialog .embed-responsive {
        height: 281px;
    }
}

@media (max-width: 767px) {
    .hero-section-container iframe {
        height: 300px;
    }

    .responsive-grid-01 .card {
        width: 300px;
    }

    .card-hero-height {
        height: 169px !important;
    }

    .modal-dialog {
        width: 300px;
        margin: 30px auto;
    }

    .modal-dialog .embed-responsive {
        height: 168px;
    }
}

.modal-header {
    padding: 15px 15px 0px 15px;
    border-bottom: none;
}

.modal-header .close {
    width: 25px;
    height: 25px;
}

.modal-body {
    padding: 0px 15px 15px 15px;
}

.modal .row:first-of-type {
    margin: 10px 0 20px 0;
}

.modal .row {
    margin: 20px 0;
}

.modal .row:last-of-type {
    margin: 20px 0 0 0;
}

.page-details {
    max-width: 1200px;
    margin-top: 30px;
    margin-bottom: 5px;
}

.page-details .row {
    margin-bottom: 10px;
}

.page-details a {
    margin-top: 10px;
}

.page-details-button-row {
    display: flex;
    justify-content: center;
}


.ie-9.page-details-button-row .btn {
    display: table;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(0, 0, 0, 0);
}

/* Triangle Shape */
#triangle-down {
    width: 0;
    height: 0;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 23px;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 25px solid white;
}

.card-content-time .glyphicon {
    margin-right: 5px;
}

.card-content-time {
    color: #AD2025;
    font-size: 14px;
}

.card-content-date {
    color: #AD2025;
    font-size: 14px;
}
.card-content-location {
    color: #AD2025;
    font-size: 14px;
}

.responsive-grid-02, 
.responsive-grid-03 {
    max-width: 1200px;
    margin: 15px auto 15px auto;
}

.responsive-grid-02 .card,
.responsive-grid-03 .card{
    -webkit-box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.11), 0 1px 7px 0 rgba(0, 0, 0, 0.11), 0 2px 4px -1.5px rgba(0, 0, 0, 0.2);
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.11), 0 1px 7px 0 rgba(0, 0, 0, 0.11), 0 2px 4px -1.5px rgba(0, 0, 0, 0.2);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    background-color: white;
    margin-top: 30px;
    border-radius: 3px;
}

.responsive-grid-02 .card-content,
.responsive-grid-03 .card-content {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    height: 225px;
    padding: 15px;
}

.responsive-grid-02 .card-details,
.responsive-grid-03 .card-details {
    display: flex;
    display: -ms-flexbox;
    flex-flow: column;
    padding: 0px;
    width: 100%;
}

.responsive-grid-02 .card-content-heading,
.responsive-grid-03 .card-content-heading {
    padding-top: 0px;
    height: auto;
}

.responsive-grid-02 .card-buttons,
.responsive-grid-03 .card-buttons {
    margin-top: 15px;
}

.responsive-grid-02 .card-hero .img-responsive,
.responsive-grid-03 .card-hero .img-responsive {
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    border-radius: 3px;
}

.ie-9.responsive-grid-02 .card-content,
.ie-9.responsive-grid-03 .card-content {
    display: table;
    width: 100%;
}

.ie-9.responsive-grid-02 .card-details,
.ie-9.responsive-grid-03 .card-details {
    display: table-row;
}

.ie-9.responsive-grid-02 .card-buttons,
.ie-9.responsive-grid-03 .card-buttons {
    display: table-row;
    text-align: center;
}

.ie-9.responsive-grid-02 .card-buttons .btn,
.ie-9.responsive-grid-03 .card-buttons .btn {
    display: table-cell;
    height: 25px;
}

/* Mobile Grid 02 */
@media (max-width: 767px) {   
    .responsive-grid-02 .card,
    .responsive-grid-03 .card {
        max-width: 400px;
        margin-left: auto;
        margin-right: auto;
    }

    .responsive-grid-02 .card-content,
    .responsive-grid-03 .card-content {
        height: auto;
    }
}

/* Tablet Grid 02 */
@media (min-width: 768px) and (max-width: 991px) {
    .responsive-grid-02 .card-content,
    .responsive-grid-03 .card-content {
        height: 200px;
    }
}

/* Desktop Grid 02 */
@media (min-width: 992px) {
    .responsive-grid-02 .card-content,
    .responsive-grid-03 .card-content {
        height: 200px;
    }
}

.ie-9.responsive-grid-01 .card-content {
    display: table;
}

.ie-9.responsive-grid-01 .card-details {
    display: table-row;
}

.responsive-grid-01.ie-9 .card-buttons {
    display: table;
    width: 100%;
}

.responsive-grid-01.ie-9 .card-buttons-container {
    display: table-cell;
    width: 50%;
}

/* Filtering Option */
.responsive-filter {
    margin-top: 50px;
}

.responsive-filter .dropdown-menu {
    font-family: "Proxima Nova", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    position: absolute;
    top: auto;
    left: 50%;
    font-size: 18px;
    color: black;
    text-transform: none;
    transform: translate(-50%, 0%);
    width: 302px;
    border-radius: 0px 0px 3px 3px;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    margin: 0;
    padding: 0;
    z-index: 99;
    overflow: hidden;
}

.responsive-filter .btn {
    text-transform: none;
    font-family: "Proxima Nova", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    background-color: white;
    border-radius: 3px;
    color: black;
    box-shadow: 0 .6px 2px rgba(0,0,0,0.12), 0 .6px 2px rgba(0,0,0,0.24)!important;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1)!important;
    width: 300px;
}

.responsive-filter .btn span {
    top: 13px;
    right: 13px;
    position: absolute;
}

.responsive-filter.open .btn {
    border-radius: 3px 3px 0px 0px;
}

.responsive-filter .dropdown-menu li {
    text-align: center;
    padding: 5px 0px;
    cursor: pointer;
}

.responsive-filter .dropdown-menu li a {
    font-family: "Proxima Nova", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
}

.responsive-filter .dropdown-menu li:last-child {
    border-bottom: none;
}

.responsive-filter .dropdown-menu li a:hover {
    color: red;
    background-color: transparent;
}

.remove-filter {
    background: #AD2025;
}

.remove-filter a {
    color: white !important;
}

.hide-card {
    display: none;
}

/* Carousel */
.carousel-control .glyphicon-chevron-left {
    left: 30%;
}

.carousel-control .glyphicon-chevron-right {
    right: 30%;
}

.carousel-indicators {
    bottom: -10px;
}

/* Content Header / Dividers */
.content-header {
    max-width: 1200px;
}

.content-subheader {
    margin-top: 15px;
}