.text-left {
  text-align: left !important;
}

.text-center {
  text-align: center !important;
}

.text-right {
  text-align: right !important;
}

.clear {
  clear: both;
}

.jk-bg-accent {
  background-color: #FFFFFF;
}

.jk-bg-gray {
  background-color: #f7f7f7;
}

.jk-bg-red {
  background-color: #AD2025;
}

.jk-bg-dark {
  background-color: #2d2829;
}

.jk-bg-black {
  background-color: #221D1E;
}

.jk-red {
  color: #AD2025;
}

.jk-accent {
  color: #F7F0F1;
}

.jk-no-transform {
  text-transform: none;
}

.text-white {
  color: #FFFFFF;
}

@font-face {
  font-family: 'DINPro';
  src: url('/jackClevelandAssets/fonts/DINPro.eot');
  src: url('/jackClevelandAssets/fonts/DINPro.eot?#iefix') format('embedded-opentype'), url('/jackClevelandAssets/fonts/DINPro.woff') format('woff'), url('/jackClevelandAssets/fonts/DINPro.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('/jackClevelandAssets/fonts/ProximaNova-Regular.eot');
  src: url('/jackClevelandAssets/fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'), url('/jackClevelandAssets/fonts/ProximaNova-Regular.woff') format('woff'), url('/jackClevelandAssets/fonts/ProximaNova-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DINPro-CondBold';
  src: url('/jackClevelandAssets/fonts/DINPro-CondBold.eot');
  src: url('/jackClevelandAssets/fonts/DINPro-CondBold.eot?#iefix') format('embedded-opentype'), url('/jackClevelandAssets/fonts/DINPro-CondBold.woff') format('woff'), url('/jackClevelandAssets/fonts/DINPro-CondBold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'DINPro-Bold';
  src: url('/jackClevelandAssets/fonts/DINPro-Bold.eot');
  src: url('/jackClevelandAssets/fonts/DINPro-Bold.eot?#iefix') format('embedded-opentype'), url('/jackClevelandAssets/fonts/DINPro-Bold.woff') format('woff'), url('/jackClevelandAssets/fonts/DINPro-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

body {
  font-family: 'Proxima Nova';
  font-size: 19px;
  color: #221D1E;
  background: #FFFFFF;
}

hr {
  border-color: #b4adae;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 300;
  font-family: 'DINPro';
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a {
  color: #AD2025;
}

a {
  color: #AD2025;
}

a:visited,
a:hover,
a:active {
  color: rgba(173, 32, 37, 0.75);
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  color: #FFFFFF;
  border-color: #AD2025;
  background-color: #AD2025;
  box-shadow: none !important;
}

button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
  color: #FFFFFF;
  background-color: rgba(173, 32, 37, 0.75);
}

button:active,
input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active {
  background-color: rgba(173, 32, 37, 0.25);
}

.hero-backdrop {
  background-color: rgba(161, 9, 3, 0.8);
  text-align: center;
  position:relative;
  margin-top: 70px;
  padding: 20px;
}

.hero-backdrop .jk-slider-banner {
      padding-top: 0 !important;
}

.content-area .hentry:after {
  display: none;
}

li {
  line-height: 1.8em;
}

.jk-msgs {
  text-align: left;
  color: #221D1E;
  min-height: 25px;
}

.jk-msgs .jk-msg.err {
  color: #AD2025;
}

.jk-msgs.dark {
  color: rgba(247, 240, 241, 0.75);
}

#fullscreen {
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: black;
  z-index: 1011;
}

#fullscreen .video-wrapper {
  position: absolute;
  height: 100%;
  width: 100%;
}

#fullscreen .close {
  position: absolute;
  right: 15px;
  top: 12px;
  font-size: 28px;
  text-shadow: none;
  color: #FFFFFF;
  opacity: 1;
  transition: 0.3s;
}

#fullscreen .close:hover {
  color: #AD2025;
}

body.fullscreen-active {
  overflow: hidden;
}

body.admin-bar #fullscreen .close {
  top: 40px;
}

.site-header {
  /* min-height: 150px;
  max-height: 150px; */
  height: 125px;
  padding-top: 0px;
  background-color: black;
  z-index: 999;
  position: fixed;
}

.site-header .btn-menu {
  float: right;
}

.site-header .btn-menu.active::before {
  content: "\f00d";
}

.site-header .header-wrap {
  text-align: inherit;
  height: 100%;
}

.site-header .header-wrap .container-fluid {
  height: 100%;
  max-width: 1632px;
}
 
.site-header .site-logo {
  /* max-height: 125px; */
  max-height: none;
  height: 100%;
  object-fit: contain;
}

.site-header .jk-header-row {
  height: 100%;
}

.jk-header-row .jk-header-logo {
  height: 100%;
}

.jk-header-area {
  position: relative;
  z-index: 1000;
}

.jk-header-area #mainnav.searchbox-shown ul li:not(.menu-item-search) a {
  opacity: 0;
}

.jk-header-area #jk-usernav-top {
  border: 1px solid #ccc;
  color: #bfbfbf;
  float: right;
  padding: 1px 12px;
  border-radius: 0px;
  border-top: 0 none;
  margin-bottom: 25px;
  position: absolute;
  top: 0px;
  right: 0px;
  font-weight: 600;
}

#jk-usernav-top #header-login {
  border: none!important;
  color: #bfbfbf;
  float: right;
  padding: 0px 12px!important;
  border-radius: 0px;
  border-top: 0 none;
  top: 0px;
  right: 0px;
  font-weight: 600;
}

.jk-header-area #jk-usernav-top span {
  margin-right: 8px;
  margin-left: 8px;
  color: #FFFFFF;
}

.jk-header-area #jk-usernav-top.in-menu {
  display: none;
  text-align: center;
  padding: 28px 0;
  background-color: #221D1E;
  position: relative;
  border: none;
  width: 100%;
  margin-bottom: 0;
}

.jk-header-area #jk-usernav-top a {
  color: #FFFFFF;
}

.jk-header-area #jk-usernav-top a:hover {
  color: #AD2025;
}

.jk-header-area #mainnav {
  position: absolute;
  top: 90px;
  right: 335px;
}

.jk-header-area #mainnav a {
  color: #FFFFFF;
}

.jk-header-area #mainnav a i {
  color: inherit;
}

.jk-header-area #mainnav a:hover {
  color: #AD2025 !important;
}

.jk-header-area #mainnav ul li ul:after {
  background-color: rgba(34, 29, 30, 0.9);
}

.jk-header-area #mainnav ul li a {
  font-family: 'Proxima Nova' !important;
}

.jk-header-area #mainnav ul li.current_page_item a {
  font-weight: 700;
}

.jk-header-area #mainnav ul li.menu-item-map-marker {
  overflow: hidden;
  white-space: nowrap;
}

.jk-header-area #mainnav ul li.menu-item-map-marker .desc {
  white-space: nowrap;
  opacity: 0;
  padding-right: 0;
  padding-left: 5px;
  max-width: 0;
  display: inline-block;
  transition: .5s;
}

.jk-header-area #mainnav ul li.menu-item-map-marker:hover {
  max-width: 100px;
}

.jk-header-area #mainnav ul li.menu-item-map-marker:hover .desc {
  opacity: 1;
  max-width: 80px;
}

.jk-header-area #mainnav ul li:last-child {
  padding-right: 0px;
}

.jk-header-area #mainnav .sub-menu li a {
  background-color: rgba(34, 29, 30, 0.9);
  border: none;
}

.jk-header-area #mainnav-mobi {
  position: fixed;
  width: 100%;
  background-color: rgba(34, 29, 30, 0.9);
  left: 0;
  top: 100px;
}

.jk-header-area #mainnav-mobi ul li {
  border-top: 1px solid #716A6B;
}

.jk-header-area #mainnav-mobi ul li a {
  text-align: center;
  padding: 12px;
}

.jk-header-area #mainnav-mobi ul li a:hover {
  background-color: #AD2025;
}

.jk-header-area #mainnav-mobi ul li.current_page_item a {
  font-weight: 700;
}

.jk-header-area #mainnav-mobi ul.sub-menu {
  background-color: transparent;
}

.jk-header-area #mainnav-mobi .menu-item-search a {
  display: none;
}

.jk-header-area #mainnav-mobi .menu-search-form {
  display: block;
  position: initial;
  opacity: 1;
  width: 100%;
  text-align: center;
  padding: 8px 0px;
}

.jk-header-area #mainnav-mobi .menu-search-form input[type=text] {
  width: 60%;
}

.jk-header-area .menu-search-form {
  position: absolute;
  opacity: 0;
  right: 60px;
  width: 600px;
  top: -50px;
  text-align: right;
  -webkit-transition: opacity 0.3s ease-in-out, top 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out, top 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out, top 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out, top 0.3s ease-in-out;
}

.jk-header-area .menu-search-form.shown {
  top: -20px;
  opacity: 1;
}

.jk-header-area .menu-search-form input[type=text] {
  background-color: transparent;
  border-width: 0 0 1px 0;
  color: rgba(255, 255, 255, 0.75);
  padding-left: 0px;
  width: 400px;
  outline: none;
}

.jk-header-area .menu-search-form input[type=text]:focus {
  color: #FFFFFF;
  border-color: rgba(255, 255, 255, 0.75);
}

.jk-header-area .menu-search-form input[type=submit] {
  font-size: 20px;
  margin-left: 20px;
  text-transform: capitalize;
  background-color: rgba(173, 32, 37, 0.25);
  border: 2px solid rgba(173, 32, 37, 0.75);
  color: #FFFFFF;
  border-radius: 5px;
  font-family: 'Proxima Nova';
  font-weight: 400;
  padding: 6px 20px;
  vertical-align: bottom;
}

#header-login {
border: none!important;
padding: 0px 0px 0px 0px!important;
max-height: 125px!important;
margin-bottom: 5px!important;
}

.jk-header-area .menu-search-form input[type=submit]:hover {
  border-color: #AD2025;
  background-color: #AD2025;
}

@media only screen and (max-width: 991px) {
  .jk-header-logo {
    text-align: center !important;
  }
}

body.admin-bar #mainnav-mobi {
  top: 125px;
}

.header-image {
  display: none;
  height: 648px;
  overflow: hidden;
}

.header-image:before,
.header-image:after {
  content: '';
  position: absolute;
  bottom: 0;
  width: 50%;
  background-color: #FFF;
  padding-bottom: 15px;
}

.header-image:before {
  right: 50%;
  transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  -webkit-transform-origin: 100% 100%;
  transform: skewX(45deg);
  -ms-transform: skewX(45deg);
  -webkit-transform: skewX(45deg);
}

.header-image:after {
  left: 50%;
  transform-origin: 0 100%;
  -ms-transform-origin: 0 100%;
  -webkit-transform-origin: 0 100%;
  transform: skewX(-45deg);
  -ms-transform: skewX(-45deg);
  -webkit-transform: skewX(-45deg);
}

.header-image .jk-btns { }

.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
  background-color: #eee;
  opacity: 0.8;
}

.jk-login-form {
  background-color: rgba(34, 29, 30, 0.9);
  text-align: center;
  padding: 24px;
  position: relative;
}

.jk-login-form:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  opacity: 0;
  display: none;
  background: rgba(34, 29, 30, 0.5);
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}

.jk-login-form .jk-notify-wrapper {
  margin: 0;
  text-align: left;
  margin-bottom: 23px;
}

.jk-login-form .jk-notify {
  color: #FFF;
  text-align:left;
  padding:0;
  font-size: 0.8em;
}

.jk-login-form.loading:after {
  display: block;
  opacity: 1;
}

.jk-login-form.loading .loading-spinner {
  display: block;
  opacity: 1;
}

.jk-login-form .loading-spinner {
  opacity: 0;
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  -webkit-transition: opacity 1.0s ease-in-out;
  -moz-transition: opacity 1.5s ease-in-out;
  -o-transition: opacity 1.5s ease-in-out;
  transition: opacity 1.5s ease-in-out;
}

.jk-login-form .loading-spinner .fa {
  font-size: 40px;
  color: #FFFFFF !important;
}

.jk-login-form fieldset {
  width: 100%;
  position: relative;
  background: transparent;
  border-top: 1px solid rgba(255, 255, 255, 0.25);
}

.jk-login-form fieldset:last-of-type {
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
}

.jk-login-form fieldset input {
  width: 100%;
  color: #FFFFFF;
  font-size: 19px;
  background: none;
  padding-left: 32px;
  border: none !important;
  box-shadow: none !important;
  outline: none;
}

.jk-login-form fieldset label {
  position: absolute;
  left: 0px;
  top: 15px;
  font-weight: 400;
  color: #DDD;
}

.jk-login-form .jk-btns { }

.jk-login-row {
  display: none;
  background: #221D1E;
  margin-right: 0px;
  margin-left: 0px;
}

.jk-login-row .jk-login-form {
  background: #221D1E;
  max-width: 400px;
  margin: auto;
}

/* JK Login Form Error Messages */
.jk-login-form .jk-msgs{
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 15px 5px;
  background-color: rgba(0, 0, 0, 0.85);
  transition: visibility 0s linear 0.3s,opacity 0.3s linear;
}

.jk-login-form .jk-msgs button {
  color: white;
  opacity: 0.7;
  font-size: 40px;
  margin-bottom: 25px;
  margin-right: 5px;
}

.jk-login-form.error .jk-msgs {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}

.jk-login-row .jk-login-form .jk-msgs {
  width: 100vw;
  margin-left: calc(-50vw + 50%);
}
.g-recaptcha {
  transform:scale(0.77);
  -webkit-transform:scal(0.77);
  transform-origin:0 0;
  -webkit-transform-origin:0 0;
}
.FormHeading {
color: white;
font-weight: 600;
}
.jk-playonus-form {
    background-color: rgba(34, 29, 30, 0.9);
    text-align: center;
    padding: 20px;
    max-width: 400px;
    max-height: 500px;
    position: relative;
}

    .jk-playonus-form:after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        opacity: 0;
        display: none;
        background: rgba(34, 29, 30, 0.5);
        -webkit-transition: opacity 0.5s ease-in-out;
        -moz-transition: opacity 0.5s ease-in-out;
        -o-transition: opacity 0.5s ease-in-out;
        transition: opacity 0.5s ease-in-out;
    }

    .jk-playonus-form .jk-notify-wrapper {
        margin: 0;
        text-align: left;
        margin-bottom: 23px;
    }

    .jk-playonus-form .jk-notify {
        color: #FFF;
        text-align: left;
        padding: 0;
        font-size: 0.8em;
    }

    .jk-playonus-form.loading:after {
        display: block;
        opacity: 1;
    }

    .jk-playonus-form.loading .loading-spinner {
        display: block;
        opacity: 1;
    }

    .jk-playonus-form .loading-spinner {
        opacity: 0;
        display: none;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translateX(-50%) translateY(-50%);
        -moz-transform: translateX(-50%) translateY(-50%);
        -o-transform: translateX(-50%) translateY(-50%);
        -ms-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%);
        -webkit-transition: opacity 0.5s ease-in-out;
        -moz-transition: opacity 0.5s ease-in-out;
        -o-transition: opacity 0.5s ease-in-out;
        transition: opacity 0.5s ease-in-out;
    }

        .jk-playonus-form .loading-spinner .fa {
            font-size: 40px;
            color: #FFFFFF !important;
        }

    .jk-playonus-form fieldset {
        width: 100%;
        position: relative;
        background: transparent;
        border-top: 1px solid rgba(255, 255, 255, 0.25);
    }

        .jk-playonus-form fieldset:last-of-type {
            border-bottom: 1px solid rgba(255, 255, 255, 0.25);
        }

        .jk-playonus-form fieldset input {
            width: 100%;
            color: #FFFFFF;
            font-size: 19px;
            background: none;
            padding-left: 32px;
            border: none !important;
            box-shadow: none !important;
            outline: none;
        }

        .jk-playonus-form fieldset label {
            position: absolute;
            left: 0px;
            top: 15px;
            font-weight: 400;
            color: #DDD;
        }

    .jk-playonus-form .jk-btns {
    }

.jk-playonus-row {
    display: none;
    background: #221D1E;
    margin-right: 0px;
    margin-left: 0px;
}

    .jk-playonus-row .jk-playonus-form {
        background: #221D1E;
        max-width: 400px;
        margin: auto;
    }

/* JK Login Form Error Messages */
.jk-playonus-form .jk-msgs {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 15px 5px;
    background-color: rgba(0, 0, 0, 0.85);
    transition: visibility 0s linear 0.3s,opacity 0.3s linear;
}

    .jk-playonus-form .jk-msgs button {
        color: white;
        opacity: 0.7;
        font-size: 40px;
        margin-bottom: 25px;
        margin-right: 5px;
    }

.jk-playonus-form.error .jk-msgs {
    visibility: visible;
    opacity: 1;
    transition-delay: 0s;
}
.jk-playonus-form.success .jk-msgs {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}

.jk-playonus-row .jk-playonus-form .jk-msgs {
    width: 100vw;
    margin-left: calc(-50vw + 50%);
}
.text-slider-section {
  padding-top: 105px;
  text-align: left;
}

.text-slider-section .jk-slider-banner {
  font-family: 'DINPro-CondBold';
  font-size: 72px;
  text-transform: uppercase;
  color: #ffffff;
  padding-top: 90px;
}

.text-slider-section .jk-slider-banner.no-padding {
  padding-top: 0px;
}

.text-slider-section p {
  font-size: 26px;
  font-style: italic;
  color: #ffffff;
  line-height: 1.2em;
}

@media only screen and (max-width: 991px) {
  .text-slider-section {
    top: 50%;
    bottom: auto;
    text-align: center;
  }
  .text-slider-section .jk-slider-banner {
    padding-top: 0px;
  }
  .text-slider-section>.container>.row {
    padding-left: 10%;
    padding-right: 10%;
  }
}

label.small,
.label-sm,
.label-small {
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px
}

.input-xs,
.form-control-xs {
  height: 22px;
  padding: 2px 5px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}

.btn-xs {
  height: 24px !important;
  padding: 2px 5px !important;
  font-size: 12px !important;
  line-height: 1.5 !important;
  border-radius: 3px !important;
}

@media (max-width: 575px) {
  .btn-group.xs-full,
  .btn-group.xs-12,
  .btn-group.full-xs {
    display: block;
  }
  .btn-group.xs-full .jk-btn,
  .btn-group.xs-12 .jk-btn,
  .btn-group.full-xs .jk-btn {
    margin-bottom: 10px;
    display: block;
    width: 100%;
  }
}

@media (max-width: 767px) {
  .btn-group.sm-full,
  .btn-group.sm-12,
  .btn-group.full-sm {
    display: block;
  }
  .btn-group.sm-full .jk-btn,
  .btn-group.sm-12 .jk-btn,
  .btn-group.full-sm .jk-btn {
    margin-bottom: 10px;
    display: block;
    width: 100%;
  }
}

.jk-btn {
  font-family: 'DINPro';
  box-shadow: none !important;
  border-radius: 5px;
  border-width: 2px;
  border-style: solid;
  display: inline-block;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  padding: 7px 16px 9px 16px;
  outline: none !important;
  color: #AD2025;
  -webkit-transition: background-color 1s ease-in-out, color 1s ease-in-out, border-color 1s ease-in-out;
  -moz-transition: background-color 1s ease-in-out, color 1s ease-in-out, border-color 1s ease-in-out;
  -o-transition: background-color 1s ease-in-out, color 1s ease-in-out, border-color 1s ease-in-out;
  transition: background-color 1s ease-in-out, color 1s ease-in-out, border-color 1s ease-in-out;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
}

.jk-btn.btn-sm,
.jk-btn-sm,
.jk-btn.sm {
  padding: 5px 10px !important;
  font-size: 12px !important;
  line-height: 1.5 !important;
  border-radius: 3px !important;
}

.jk-btn .fa {
  color: inherit;
}

.jk-btn.block {
  width: 100%;
  display: inline-block;
}

.jk-btn.primary {
  color: #FFFFFF;
  border-color: #AD2025;
  background-color: rgba(173, 32, 37, 0.25);
}

.jk-btn.primary:hover {
  color: #AD2025;
  border-color: transparent;
  background-color: #FFFFFF;
}

.jk-btn.primary:active {
  background-color: rgba(255, 255, 255, 0.75);
}

.jk-btn.primary-fill {
color: #FFFFFF;
border-color: #b7312c;
background-color: #b7312c;
}

.jk-btn.primary-solid {
 color: #FFFFFF;
 border-color: #b7312c;
 background-color: #b7312c;
}

.jk-btn.primary-solid:hover,
.jk-btn.primary-solid:active {
  color: #FFFFFF;
  border-color: #b7312c;
  background-color: #b7312c;
}

.jk-btn.primary-fill:hover {
  color: #FFFFFF;
  background-color: #b7312c;
}

.jk-btn.primary-fill:active {
  background-color: rgba(173, 32, 37, 0.25);
}

.jk-btn.primary-bg-fill {
  color: #FFFFFF;
  border-color: #b7312c;
  background-color: #b7312c;
}

.jk-btn.primary-bg-fill:hover {
  color: #FFFFFF;
  background-color: #ab2f2a;
}

.jk-btn.primary-bg-fill:active {
  background-color: rgba(173, 32, 37, 0.75);
}

.jk-btn.secondary {
  background-color: transparent;
  color: #AD2025;
}

.jk-btn.secondary:hover {
  color: #FFFFFF;
  border-color: transparent;
  background-color: #AD2025;
}

.jk-btn.secondary:active {
  background-color: rgba(173, 32, 37, 0.75);
}

.jk-btn.plain-white {
  color: #FFFFFF;
}

.jk-btn.plain-white:hover {
  color: #FFFFFF;
  text-decoration: underline;
}

.jk-btn.plain-gray {
  color: #716A6B;
}

.jk-btn.plain-gray:hover {
  color: #716A6B;
  text-decoration: underline;
}

.jk-btn.transparent {
  background-color: transparent;
}

.jk-btn.transparent:hover {
  background-color: #AD2025;
  color: #FFFFFF;
  border-color: transparent;
}

.jk-btn.transparent:active {
  background-color: rgba(173, 32, 37, 0.75);
}

.jk-btn.black-border {
  border-color: #000000;
  color: #000000;
  background-color: transparent;
  padding-left: 0;
  padding-right: 0;
}

.jk-btn.black-border:hover {
  background-color: rgba(0, 0, 0, 0.15);
  color: #000000;
}

.jk-btn.black-border.active {
  background-color: rgba(0, 0, 0, 0.5);
  color: #FFFFFF;
}

.jk-btn.translucent {
  box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.35) !important;
  background-color: rgba(255, 255, 255, 0.35) !important;
  color: #FFFFFF !important;
  border: none;
  border-radius: 3px;
  padding: 5px 10px;
}

.jk-btn.translucent:hover {
   background-color: rgba(0, 0, 0, 0.1) !important;
  color: #FFFFFF !important;
  border: none;
}

.jk-btn.translucent:active, .jk-btn.translucent:hover:active {
  background-color: rgba(0, 0, 0, 0.5) !important;
  color: #FFFFFF !important;
  border: none;
}

.jk-btn.no-border {
  border-color: transparent;
  padding-left: 0;
  padding-right: 0;
}

.jk-btn.no-border:hover {
  text-decoration: underline;
}

.jk-btn.accent {
  background-color: #FFFFFF;
  border-color: #FFFFFF;
  color: #AD2025;
}

.jk-btn.accent:hover {
  background-color: rgba(255, 255, 255, 0.75);
  color: #AD2025;
}

.jk-btn.accent:active {
  background-color: rgba(255, 255, 255, 0.75);
}

.jk-btn.red {
  background-color: #AD2025;
  color: #FFF;
  border-color: transparent;
}

.jk-btn.red:hover {
  background-color: rgba(173, 32, 37, 0.75);
  color: #FFF;
}

.jk-btn.black {
  background-color: #000000;
  border-color: #000000;
  color: #FFFFFF;
}

.jk-btn.black:hover {
  background-color: #221D1E;
  border-color: #221D1E;
}

.jk-btn.hero-btn {
  background-color: transparent;
  border-color: #FFFFFF;
  color: #FFFFFF;
  transition: 0.4s;
}

.jk-btn.hero-btn:hover,
.jk-btn.hero-btn:active {
  background-color: #FFFFFF;
  color: #AD2025;
}

.jk-btn:hover {
  color: #AD2025;
}

.jk-btn.jk-btn-forgot {
  color: #FFFFFF;
}

.jk-btn.jk-btn-forgot:hover {
  color: #FFFFFF;
  text-decoration: underline;
}

.btn-group[data-tabs="tabs"]>.jk-btn:first-child {
  margin-left: 0;
}

.btn-group[data-tabs="tabs"]>.jk-btn:first-child:not(:last-child):not(.dropdown-toggle) {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

.btn-group[data-tabs="tabs"]>.jk-btn:not(:first-child):not(:last-child):not(.dropdown-toggle) {
  border-radius: 0;
}

.btn-group[data-tabs="tabs"]>.jk-btn:last-child:not(:first-child),
.btn-group[data-tabs="tabs"]>.dropdown-toggle:not(:first-child) {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

.btn-group[data-tabs="tabs"]>.jk-btn+.jk-btn {
  margin-left: -2px;
}

.btn-group[data-tabs="tabs"]>.jk-btn {
  position: relative;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  text-transform: uppercase;
  -webkit-transition: background-color .15s ease-in-out, color .15s ease-in-out, border-color .15s ease-in-out;
  transition: background-color .15s ease-in-out, color .15s ease-in-out, border-color .15s ease-in-out;
}

.btn-group[data-tabs="tabs"]>.jk-btn.primary {
  background: transparent;
  color: #FFFFFF;
  border-color: #AD2025;
}

.btn-group.light[data-tabs="tabs"]>.jk-btn.primary {
  color: #AD2025;
}

.btn-group[data-tabs="tabs"]>.jk-btn.primary.active {
  background: #AD2025;
  color: #FFFFFF;
}

.jk-forms-area {
  margin-top: 40px;
  background-color: #FFFFFF;
}

.jk-forms-area .jk-heading {
  font-size: 26px;
  color: #221D1E;
  margin-top: 42px;
  margin-bottom: 32px;
  letter-spacing: 0px;
}

.jk-forms-area form {
  padding: 20px 60px;
}

.jk-forms-area form input {
  border-radius: 4px;
  color: #221D1E;
  border-color: rgba(34, 29, 30, 0.3);
  font-size: 18px;
}

.jk-forms-area form input:focus {
  border-color: rgba(34, 29, 30, 0.3);
}

.jk-forms-area .form-horizontal .control-label {
  text-align: left;
}

.jk-forms-area .form-group {
  padding-top: 16px;
  padding-bottom: 16px;
}

.jk-forms-area .form-group input {
  background: transparent;
}

.jk-submit-area {
  background-color: #AD2025;
  padding: 56px 0 56px 0;
}

.jk-submit-area .jk-btn {
  font-family: 'Proxima Nova';
  padding: 8px 20px;
  text-transform: capitalize;
  font-weight: 300;
}

.jk-heading,
.jk-slot .jk-slot-name,
.jk-slot .jk-slot-jackpot {
  font-family: 'DINPro-Bold';
  font-size: 32px;
  text-transform: uppercase;
  line-height: 1.6em;
  letter-spacing: 1px;
  font-weight: 300;
}

.jk-heading.no-margin {
  margin-top: 0px;
  margin-bottom: 0px;
}

.jk-subheading {
  font-family: 'DINPro';
  font-size: 26px;
  line-height: 1.6em;
  letter-spacing: 0px;
  font-weight: 300;
}

.jk-superheading {
  font-size: 21px;
  letter-spacing: 2px;
}

.jk-separator {
  display: flex;
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.jk-separator .jk-sep-holder {
  height: 1px;
  position: relative;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  min-width: 10%;
  top: -4px;
}

.jk-separator .jk-sep-holder .jk-sep-line {
  height: 2px;
  border-top: 2px solid #b4adae;
  display: block;
  position: relative;
  top: 1px;
  width: 100%;
}

.jk-separator .jk-heading {
  line-height: 1em;
  margin: 0;
  word-wrap: break-word;
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  padding: 0 18px;
  text-align: center;
}

.jk-page-rewards {
  background-image: url('images/rewards-bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.jk-page-rewards .jk-heading {
  color: #FFFFFF;
  text-transform: uppercase;
}

.jk-page-rewards .jk-heading.jk-name {
  font-size: 26px;
}

.jk-page-rewards .jk-subheading {
  color: #FFFFFF;
  font-size: 18px;
  text-transform: capitalize;
}

.jk-page-rewards .jk-lside {
  position: relative;
  height: 900px;
}

.jk-page-rewards .jk-lside .jk-overlay {
  content: '';
  position: absolute;
  width: 1000px;
  right: 0px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}

.jk-page-rewards .jk-lside .jk-container {
  position: relative;
  height: 100%;
  z-index: 1;
  width: 90%;
  /* fallback if needed */
  width: calc(100% - -11px);
  padding-right: 15px;
}

.jk-page-rewards .jk-lside .jk-block {
  border-bottom: 2px solid rgba(247, 240, 241, 0.15);
  margin-bottom: 12px;
}

.jk-page-rewards .jk-lside .jk-card {
  margin-top: 48px;
  margin-bottom: 48px;
  text-align: center;
}

.jk-page-rewards .jk-lside .jk-card img {
  max-height: 200px;
}

.jk-page-rewards .jk-lside .jk-btns {
  margin-top: 36px;
}

.jk-page-rewards .jk-lside .jk-btn {
  display: block;
  margin-bottom: 24px;
}

.jk-page-rewards .jk-lside sup {
  letter-spacing: -8px;
  font-size: 60%;
}

.jk-page-rewards .jk-offers {
  padding-bottom: 24px;
}

.jk-page-rewards .jk-offers .jk-heading {
  font-size: 26px;
  margin: 20px 0;
}

.jk-page-rewards .jk-offers .jk-offers-block {
  background-color: rgba(34, 29, 30, 0.9);
  padding: 18px;
  min-height: 180px;
}

.jk-page-rewards .jk-offers .jk-offer {
  padding: 20px 0;
  border-bottom: 2px solid rgba(247, 240, 241, 0.15);
}

.jk-page-rewards .jk-offers .jk-offer .jk-img-wrapper {
  padding: 0 9px;
}

.jk-page-rewards .jk-offers .jk-offer .jk-offer-title {
  font-family: 'Proxima Nova';
  color: #FFFFFF;
  font-size: 24px;
}

.jk-page-rewards .jk-offers .jk-offer .jk-subheading {
  font-size: 16px;
  color: #AD2025;
  margin-top: 6px;
}

.jk-page-rewards .jk-offers .jk-btns {
  margin: 60px 0;
}

.jk-error {
  padding-top: 280px;
  padding-bottom: 280px;
}

.jk-error .jk-heading {
  text-transform: capitalize;
  color: #FFFFFF;
}

.jk-error p {
  font-size: 21px;
}

.jk-page-profile {
  background-image: url('images/rewards-bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.jk-page-profile .jk-heading {
  color: #FFFFFF;
}

.jk-page-profile .jk-subheading {
  color: #FFFFFF;
  font-size: 18px;
}

.jk-page-profile .jk-lside {
  height: 900px;
}

.jk-page-profile .jk-lside .jk-heading {
  color: #FFFFFF;
}

.jk-page-profile .jk-lside .jk-heading.jk-name {
  font-size: 26px;
}

.jk-page-profile .jk-lside .jk-overlay {
  content: '';
  position: absolute;
  width: 1000px;
  right: 0px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}

.jk-page-profile .jk-lside .jk-container {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 1;
  padding-right: 32px;
}

.jk-page-profile .jk-lside .jk-block {
  border-bottom: 2px solid rgba(247, 240, 241, 0.15);
  margin-bottom: 12px;
}

.jk-page-profile .jk-lside .jk-card {
  margin-top: 48px;
  margin-bottom: 48px;
}

.jk-page-profile .jk-lside .jk-btns {
  margin-top: 36px;
}

.jk-page-profile .jk-lside .jk-btn {
  display: block;
  margin-bottom: 24px;
}

.jk-page-profile .jk-lside sup {
  letter-spacing: -8px;
  font-size: 60%;
}

.jk-page-profile .jk-cancel {
  color: #FFFFFF;
  margin-left: 10px;
}

.jk-page-profile .jk-cancel:hover {
  text-decoration: underline;
}

.jk-page-profile .jk-forms-area {
  margin-top: 40px;
  margin-bottom: 60px;
  background-color: rgba(34, 29, 30, 0.9);
  color: #F7F0F1;
}

.jk-page-profile .jk-forms-area input {
  color: #F7F0F1;
  border-color: #FFF;
}

.jk-page-profile .jk-forms-area input:active,
.jk-page-profile .jk-forms-area input:hover,
.jk-page-profile .jk-forms-area input:focus {
  border-color: rgba(247, 240, 241, 0.75);
}

.jk-page-profile .jk-forms-area input:read-only {
  color: #FFF;
  border-color: #FFF !important;
}

.jk-page-profile .jk-forms-area .jk-btn {
  min-width: 160px;
}

.jk-page-profile .jk-forms-area .loading-spinner {
  display: none;
}

.jk-slots.compact .jk-slot {
  padding: 0;
}

.jk-slots.compact hr {
  margin-top: 20px !important;
  margin-bottom: 20px !important;
}

.jk-slot {
  padding: 18px 0;
}

.jk-slot hr {
  margin-left: 15px;
  margin-right: 15px;
}

.jk-slot .jk-slot-name {
  font-size: 26px;
  text-transform: capitalize;
}

.jk-slot .jk-slot-date {
  color: #716A6B;
  display: inline-block;
  margin-top: 8px;
}

.jk-slot .jk-slot-jackpot {
  color: #AD2025;
  font-size: 26px;
}

.jk-page-slots {
  background: #FFFFFF;
  padding-top: 30px;
}

.jk-page-slots .jk-desc {
  letter-spacing: 1px;
  padding: 50px 30px;
  font-size: 24px;
  line-height: 1.2em;
}

.jk-page-register {
  background: #FFFFFF;
}

.jk-page-register .jk-registration-header .jk-logo {
  margin: 50px 0;
}

.jk-page-register .jk-desc {
  color: #221D1E;
  padding: 50px 30px;
  line-height: 1.2em;
}

.jk-page-register .jk-forms-area {
  margin-top: 0;
}

.jk-page-register .jk-submit-area .jk-btn {
  min-width: 260px;
}

.jk-carousel {
  padding: 48px 10%;
}

.jk-carousel p {
  text-align: center;
}

.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span {
  background-color: #AD2025;
}

.owl-theme .owl-controls .owl-page span {
  border: none;
  background-color: rgba(173, 32, 37, 0.25);
  width: 10px;
  height: 10px;
}

.container.jk-featured {
  padding-top: 50px;
  padding-bottom: 50px;
}

.container.jk-featured .jk-img-featured {
  width: 100%;
  margin-bottom: 30px;
}

.container.jk-featured .jk-heading {
  line-height: 1em;
  margin-bottom: 12px;
}

.container.jk-featured>.row:not(:last-child) {
  margin-bottom: 32px;
}

.container.jk-featured .jk-btns {
  margin-top: 40px;
}

.container.jk-featured .jk-btns .jk-btn {
  padding: 8px 24px;
}

.page.dinner .header-image:before,
.page.dinner .header-image:after {
  background-color: #AD2025;
}

.jk-quick-info {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #AD2025;
  color: #FFFFFF;
}

.jk-quick-info .jk-heading {
  color: #F7F0F1;
  font-size: 18px;
}

.jk-quick-info .jk-subheading {
  color: #FFFFFF;
  font-size: 21px;
  text-transform: uppercase;
}

.jk-quick-info p {
  padding: 0 10% 50px 10%;
  letter-spacing: 0.2px;
}

.jk-page-dinner .container.jk-featured {
  padding-top: 50px;
}

.jk-page-dinner .container.jk-featured .jk-img-featured {
  width: 100%;
  margin-bottom: 60px;
}

.jk-page-dinner .container.jk-featured .jk-heading {
  line-height: 1em;
}

.jk-page-dinner .container.jk-featured .jk-btn {
  margin-right: 20px;
}

.jk-page-dinner .jk-customer-review {
  padding-top: 50px;
}

.jk-says {
  padding-top: 50px;
  padding-bottom: 50px;
}

.jk-terms {
  font-size: 16px;
}

.jk-banner {
  padding-top: 50px;
  padding-bottom: 50px;
}

.jk-banner-subtitle {
  padding-top: 40px;
}

.jk-banner p {
  padding: 30px;
}

.page.event .header-image:before,
.page.event .header-image:after {
  background-color: #FFFFFF;
}

.jk-page-event .jk-banner .jk-subheading.supertitle {
  font-family: 'DINPro-Bold';
  color: #AD2025;
  font-size: 26px;
  margin: 0;
}

.jk-page-event .jk-banner .jk-subheading.subtitle {
  font-weight: 300;
  font-size: 18px;
}

.jk-page-event .jk-timelines {
  font-size: 21px;
  margin-bottom: 50px;
}

.jk-page-event .jk-timelines h5 {
  margin: 20px 0 4px;
  color: #AD2025;
  font-weight: 700;
}

.jk-page-event .jk-perk {
  padding: 32px 8%;
}

.jk-page-event .jk-perk a {
  text-decoration: underline;
}

.jk-page-event .jk-terms {
  padding: 40px 8%;
}

.page.gaming .header-image:before,
.page.gaming .header-image:after {
  background-color: #FFFFFF;
}

.jk-page-gaming .jk-heading {
  margin: 0;
}

.jk-page-gaming .jk-slots {
  margin: 32px 0;
}

.jk-page-gaming .jk-slots .jk-slot .jk-slot-name,
.jk-page-gaming .jk-slots .jk-slot .jk-slot-jackpot {
  font-size: 21px;
}

.jk-page-gaming .jk-games {
  margin-top: 50px;
  margin-bottom: 50px;
}

.jk-page-gaming .jk-games .jk-btns {
  margin-top: 32px;
  margin-bottom: 32px;
}

.jk-page-gaming .jk-games hr {
  margin-top: 50px;
  margin-bottom: 50px;
}

.jk-page-gaming .jk-games hr:last-child {
  display: none;
}

.jk-page-gaming .jk-games>.row {
  margin-bottom: 0 !important;
}

.jk-page-gaming .jk-games .jk-img-featured {
  margin-bottom: 0 !important;
}

.page.racing .header-image:before,
.page.racing .header-image:after {
  background-color: #FFFFFF;
}

.jk-img-cards {
  margin-bottom: 50px;
}

.jk-img-cards:after {
  content: '';
  display: table;
  clear: both;
  zoom: 1;
}

.jk-img-cards.with-margin .jk-img-card {
  text-align: center;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 30px;
}

.jk-img-card {
  text-align: center;
  margin-bottom: 1.4em;;
}

.jk-img-card .img-wrapper {
  position: relative;
}

.jk-img-card .img-wrapper>img {
  display: block;
  margin: 0 auto;
  width: 100%;
}

.jk-img-card .jk-img-logo {
  max-width: 60%;
}

.jk-img-card .jk-subheading {
  font-size: 18px;
  color: inherit;
}

.jk-img-card .jk-heading {
  font-size: 21px;
  color: inherit;
  margin-top: 4px;
  margin-bottom: 4px;
  line-height: 1em;
  word-wrap: break-word;
  margin-left: auto;
  margin-right: auto;
}

.jk-img-card .jk-heading a {
  color: #F7F0F1;
}

.jk-img-card .jk-heading a:hover {
  color: #AD2025 !important;
}

.jk-img-card .jk-heading a:visited {
  color: #F7F0F1;
}

.jk-img-card .jk-btns {
  margin-top: 24px;
}

.jk-img-card .forebox {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  color: #FFFFFF;
  width: 100%;
}

.jk-img-card .forebox .jk-subheading {
  font-size: 21px;
}

.jk-img-card .forebox .jk-heading {
  font-size: 26px;
}

.jk-img-card .forebox p {
  margin-top: 12px;
  margin-bottom: 24px;
}

.jk-img-card .forebox>a:not(.jk-btn) {
  color: #FFFFFF;
}

.jk-img-card .forebox>a:not(.jk-btn):hover {
  color: #AD2025;
}

.jk-img-card .backbox {
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  width: 100%;
  height: 100%;
  background: rgba(161, 9, 3, 0.8);
  color: #FFFFFF;
  position: absolute;
  padding-top: 24px;
  top: 50%;
  left: 50%;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  opacity: 0;
}

.jk-img-card .backbox .content-middle {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 100%;
}

.jk-img-card .backbox .jk-subheading {
  font-size: 18px;
}

.jk-img-card .backbox .jk-heading {
  font-size: 21px;
}

.jk-img-card .backbox .jk-img-logo {
  max-height: 80px;
}

.jk-img-card .backbox p {
  color: rgba(255, 255, 255, 0.75);
  margin-top: 0px;
  margin-bottom: 24px;
  padding-left: 20px;
  padding-right: 20px;
}

.jk-img-card .backbox .jk-btn {
  width: 80%;
}

.jk-img-card .backbox .jk-btn:not(:last-child) {
  margin-bottom: 10px;
}

.jk-img-card .backbox.content-middle {
  padding-top: 60%;
}

.jk-img-card:not(.with-margin) {
  margin-left: -15px;
  margin-right: -15px;
}

.jk-img-card:hover .backbox {
  opacity: 1;
}

.jk-img-card:not(.no-hide-fore):hover .forebox {
  margin-top: 0px;
  opacity: 0;
}

.jk-img-card.align-top .forebox {
  position: absolute;
  top: 0%;
  left: 0%;
  -webkit-transform: translateX(0%) translateY(0%);
  -moz-transform: translateX(0%) translateY(0%);
  -o-transform: translateX(0%) translateY(0%);
  -ms-transform: translateX(0%) translateY(0%);
  transform: translateX(0%) translateY(0%);
  top: 30px;
}

.jk-img-card.text-left .forebox {
  padding-left: 30px;
  padding-right: 40%;
}

.jk-img-card.text-left .forebox.forebox-short {
  padding-left: 30px;
  padding-right: 9%;
}

.jk-img-card.text-left p {
  padding-left: 0;
}

.jk-img-card.text-right .forebox {
  padding-right: 30px;
  padding-left: 40%;
}

.jk-img-card.text-right p {
  padding-right: 0;
}

.jk-img-card.large .jk-heading {
  font-size: 32px;
}

.jk-img-card.large .jk-subheading {
  font-size: 26px;
}

.jk-img-card.with-overlay .img-wrapper:before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  -webkit-transition: background-color 0.3s ease-in-out;
  -moz-transition: background-color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

.jk-img-card.with-overlay:hover .img-wrapper:before {
  background-color: rgba(0, 0, 0, 0.25);
}

.jk-img-card.with-overlay.overlay-red:hover .img-wrapper:before {
  background-color: rgba(161, 9, 3, 0.8);
}

.jk-image-col {
  background-clip: content-box;
  background-size: cover;
}

.jk-image-col .jk-image-col-wrapper {
  padding: 32px 0px;
}

.jk-image-col .jk-heading {
  font-size: 32px;
  font-family: 'DINPro';
  margin: 0;
}

.jk-image-col p {
  padding: 10px 18%;
}

.jk-image-col .jk-btns {
  margin-top: 20px;
}

.jk-page-racing .jk-overview {
  font-size: 21px;
  margin-bottom: 40px;
}

.jk-page-racing .jk-overview h5 {
  margin: 20px 0 4px 0;
  color: #AD2025;
  font-weight: 700;
}

.jk-page-racing .jk-btns {
  margin-top: 50px;
  margin-bottom: 50px;
}

.jk-page-racing .jk-btns .jk-btn {
  margin-right: 12px;
  padding: 8px 24px;
}

.jk-modal .modal-dialog {
  top: 150px;
}

.jk-modal .modal-content {
  background-color: #221D1E;
  padding: 40px 50px;
  color: #F7F0F1;
  text-align: center;
}

.jk-modal .modal-content .modal-header {
  display: none;
}

.jk-modal .modal-content p {
  margin: 24px 0 32px;
  letter-spacing: 1px;
}
#jk-playonus-form h3 {
    color: #FFF
}
.jk-modal .modal-content input {
  width: 100%;
  margin-bottom: 12px;
  color: #FFF;
  border-color: #FFF;
  background-color: transparent;
  outline: none;
  text-align: center;
  border-radius: 4px;
}

.jk-modal .modal-content input:active,
.jk-modal .modal-content input:hover,
.jk-modal .modal-content input:focus {
  border-color: #FFF;
}

.jk-modal .modal-content input:focus::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: rgba(247, 240, 241, 0.25);
  -webkit-transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, border-color 0.3s ease-in-out;
  -moz-transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, border-color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, border-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

.jk-modal .modal-content input:focus:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: rgba(247, 240, 241, 0.25);
  -webkit-transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, border-color 0.3s ease-in-out;
  -moz-transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, border-color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, border-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

.jk-modal .modal-content input:focus::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: rgba(247, 240, 241, 0.25);
  -webkit-transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, border-color 0.3s ease-in-out;
  -moz-transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, border-color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, border-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

.jk-modal .modal-content input:focus:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: rgba(247, 240, 241, 0.25);
  -webkit-transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, border-color 0.3s ease-in-out;
  -moz-transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, border-color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, border-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

.jk-modal .modal-content input:focus:placeholder-shown {
  /* Standard (https://drafts.csswg.org/selectors-4/#placeholder) */
  color: rgba(247, 240, 241, 0.25);
  -webkit-transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, border-color 0.3s ease-in-out;
  -moz-transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, border-color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, border-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

.jk-modal .modal-content .modal-footer {
  border-top: none;
  /*padding-bottom: 32px;*/
}

.jk-modal .modal-content .modal-footer a.open-modal {
  margin-top: 18px;
  display: inline-block;
  color: #FFF;
}

.jk-modal .modal-content .modal-footer a.open-modal:hover {
  color: #FFF;
}

#loginModal input {
  text-align: left;
}


.jk-properties-desc {
  font-size: 21px;
  line-height: 1.4em;
}

.jk-social-news {
  padding-bottom: 90px;
  margin-top:48px;
}

.jk-social-news .container {
  border-bottom: 2px solid #bcbcbc;
}

.jk-social-news .jk-heading {
  line-height: 1em;
  margin-bottom: 0;
}

.jk-social-news .jk-carousel .item {
  padding-left: 32px;
  padding-right: 32px;
  color: #000;
}

.jk-social-news .jk-carousel .jk-subheading {
  font-size: 26px;
  line-height: 1.2em;
  margin-bottom: 20px;
}

.jk-social-news .jk-carousel .date {
  display: inline-block;
  margin-top: 32px;
  color: #000;
  font-weight: bold;
}

.jk-social-news .jk-carousel .owl-wrapper-outer {
  width: 99%;
}

.jk-social-news .jk-carousel .owl-pagination {
  display: none;
}

.jk-social-news .jk-carousel .owl-controls .owl-buttons div {
  position: absolute;
  top: 50%;
  margin-top: -25px;
  padding: 0px;
  width: 45px;
  height: 45px;
  line-height: 40px;
  font-size: 30px;
  color: #000;
  background-color: transparent;
  border: 1px solid;
  border-radius: 30px;
  filter: alpha(opacity=65);
  /*IE7 fix*/
  opacity: 0.65;
}

.jk-social-news .jk-carousel .owl-controls .owl-buttons div:hover {
  filter: alpha(opacity=100);
  /*IE7 fix*/
  opacity: 1;
}

.jk-social-news .jk-carousel .owl-controls .owl-buttons div.owl-prev {
  left: 0;
}

.jk-social-news .jk-carousel .owl-controls .owl-buttons div.owl-next {
  right: 0;
}

.jk-social-news .jk-carousel .owl-controls .owl-buttons div i {
  line-height: 1.2em;
  font-size: 32px;
}

.page.portal-home {
  background-color: #FFFFFF;
}

.page.portal-home .header-image:before,
.page.portal-home .header-image:after {
  background-color: #FFFFFF;
}

.page.thistledown-home {
  background-color: #FFFFFF;
}

.page.thistledown-home .header-image:before,
.page.thistledown-home .header-image:after {
  background-color: #FFFFFF;
}

.jk-page-portal-home .jk-img-cards {
  margin-top: 0px;
  margin-bottom: 0px;
}

.page.about-us .header-image:before,
.page.about-us .header-image:after,
.page.about-us {
  background-color: #FFFFFF;
}

.jk-page-portal-about .jk-img-cards {
  margin-top: 0px;
  margin-bottom: 0px;
}

.page.cleveland-home {
  background-color: #FFFFFF;
}

.page.cleveland-home .header-image:before,
.page.cleveland-home .header-image:after {
  background-color: #FFFFFF;
}

.page.page-template-page-cleveland-casino {
  background-color: #FFFFFF;
}

.page.page-template-page-cleveland-casino .header-image:before,
.page.page-template-page-cleveland-casino .header-image:after {
  background-color: #FFFFFF;
}

.jk-page-hotel .header-image:before,
.jk-page-hotel .header-image:after {
  background-color: #FFFFFF;
}

.jk-page-hotel .jk-items .row {
  padding-top: 50px;
  padding-bottom: 50px;
}

.jk-page-hotel .jk-items .jk-heading {
  line-height: 1em;
  margin-bottom: 10px;
}

.jk-page-hotel .jk-items .jk-btns {
  margin-top: 40px;
}

.jk-page-hotel .jk-items .jk-btns .jk-btn {
  margin-bottom: 8px;
}

.jk-page-hotel .jk-items hr:last-child {
  display: none;
}

.daterangepicker td.in-range {
  color: #AD2025 !important;
}

.daterangepicker td.active,
.daterangepicker td.active:hover {
  background-color: #AD2025 !important;
  color: #ffffff !important;
}

.daterangepicker .range_inputs .btn-success {
  background-color: #AD2025 !important;
}

.daterangepicker .daterangepicker_input {
  display: none;
}

.daterangepicker .ranges {
  display: none;
}

#hotel-booking-widget {
  margin-left: 0px;
  margin-right: 0px;
}

#hotel-booking-widget [class*="col-"] {
  padding-left: 0;
  padding-right: 0;
}

#hotel-booking-widget input,
#hotel-booking-widget select {
  margin-bottom: 1px;
  font-size: 16px;
  box-shadow: none;
  border: none;
  height: 50px;
  border-radius: 0;
}

#hotel-booking-widget input[type=text],
#hotel-booking-widget select {
  border-right: 1px #000 solid;
  -webkit-appearance: none;
}

#hotel-booking-widget .hotel-room-guests {
  color: #000000;
  width: 120%;
  font-family: 'Proxima Nova';
  font-size: 15px;
}

#hotel-booking-widget .hotel-room-guests .option {
  padding-top: 8px;
  padding-bottom: 8px;
  height: 40px;
  font-weight: 700;
}

#hotel-booking-widget .hotel-room-guests .option .title {
  height: 40px;
  display: inline-block;
  padding-top: 5px;
  float: left;
}

#hotel-booking-widget .hotel-room-guests .option .btns {
  float: right;
}

#hotel-booking-widget .hotel-room-guests .option .btns .value {
  margin-left: 6px;
  margin-right: 6px;
  width: 10px;
  display: inline-block;
}

#hotel-booking-widget .hotel-room-guests .option .btns input[type=button] {
  padding: 0px 6px;
  width: 32px;
  height: 32px;
  font-size: 24px;
  background-color: #eeeeee;
  color: #b8b8b8;
  outline: none !important;
}

#hotel-booking-widget .hotel-room-guests .option .btns input[type=button]:hover {
  color: #666666;
}

@media only screen and (max-width: 451px) {
  #hotel-booking-widget .hotel-room-guests .option .btns {
    width: 100%;
  }
}

#hotel-booking-widget .jk-btn {
  width: 100%;
}

#hotel-booking-widget #room-type {
  border-radius: 6px 0 0 6px;
}

#hotel-booking-widget #book-hotel {
  border-radius: 0 6px 6px 0;
  padding-left: 0px;
  padding-right: 0px;
}

#hotel-booking-section #book-generic-offer {
  margin-top: 20px;
  font-size: 17px;
  cursor:pointer;
}

@media only screen and (max-width: 991px) {
  #hotel-booking-widget #room-type {
    border-radius: 6px 6px 0 0;
    border-right: none;
  }
  #hotel-booking-widget #promo-code {
    border-radius: 0 0 0 6px;
  }
  #hotel-booking-widget #rooms-guests {
    border-right: none;
  }
  #hotel-booking-widget #book-hotel,
  #hotel-booking-widget #to-top {
    border-radius: 0 0 6px 0;
  }
  #hotel-booking-widget input[type=text],
  #hotel-booking-widget select {
    border-bottom: 1px #000 solid;
    margin-bottom: 0px;
  }
}

.page.cincinnati-home,
.page.detroit-home {
  background-color: #FFFFFF;
}

.page.cincinnati-home .header-image:before,
.page.cincinnati-home .header-image:after,
.page.detroit-home .header-image:before,
.page.detroit-home .header-image:after {
  background-color: #FFFFFF;
}

#sidebar-footer.prefooter {
  padding: 15px 0;
  color: #000000;
  background: #FFFFFF;
  font-size: 21px;
  font-family: 'DINPro';
  font-weight: bold;
}

#sidebar-footer.prefooter .jk-heading {
  margin-bottom: 20px;
}

#sidebar-footer.prefooter i {
  color: #000000;
  font-size: 24px;
}

#sidebar-footer.prefooter a {
  color: #000000;
}

#sidebar-footer.prefooter a:visited {
  color: #000000;
}

#sidebar-footer.prefooter a:hover {
  color: #AD2025;
}

#contact-address {
  display: inline;
  color: #000000;
}

#contact-address:hover {
  color: #AD2025;
}

#contact-address span {
  color: inherit;
}

#footer {
  background-color: #221D1E;
  color: #FFFFFF;
}

#footer #menu-footer-navs {
  display: table;
  float: none;
  margin: 0 auto;
  padding: 10px 0 30px;
  text-align: center;
}

#footer #menu-footer-navs li {
  display: inline-block;
  list-style: outside none none;
  padding: 0 9px;
  text-align: center;
}

#footer #menu-footer-navs li a {
  font-size: 17px;
  border-bottom: 1px solid;
}

#footer .footer-caution {
  font-size: 17px;
  line-height: 25px;
  margin: 0 auto;
  max-width: 850px;
  padding: 13px;
  text-align: center;
}

#footer small {
  color: #FFFFFF;
}

#footer .footer-copyright a {
  color: #AD2025 !important;
  font-weight: 400;
  padding: 10px 0 30px;
  font-size: 20px;
}

#footer a {
  color: #F7F0F1;
}

#footer a:visited {
  color: #F7F0F1;
}

#footer a:hover {
  color: rgba(173, 32, 37, 0.75) !important;
}

.panel-grid-cell .widget-title:after {
  display: none;
  background-color: #AD2025;
}

.widget-area .widget-title {
  font-weight: 600;
  font-size: 21px;
}

.widget-area.prefooter .widget-title {
  font-weight: 300;
  font-size: 28px;
}

/* Padding to fit the fixed header */
#page {
  padding-top: 125px;
}

#page.navbar-hidden {
  padding-top: 0;
}

@media (max-width: 991px) {
  #page {
      padding-top: 100px;
  }
}

#page-content {
  clear: both;
}

.page h1.title-post {
  display: none;
}

.hentry .title-post {
  font-family: 'DINPro';
  font-weight: 300;
  text-transform: uppercase;
  color: #AD2025;
}

.hentry .meta-post a {
  color: #AD2025;
}

.hentry .meta-post a:visited,
.hentry .meta-post a:hover,
.hentry .meta-post a:active {
  color: rgba(173, 32, 37, 0.75);
}

.error404 {
  background-image: url('images/bg-404.jpg');
  background-size: cover;
  background-position: center center;
  color: #F7F0F1;
}

.error404 #page-content .container {
  padding: 260px 0px;
}

.error404 .jk-subheading {
  font-size: 26px;
}

.page.timedout {
  background-image: url('images/bg-404.jpg');
  background-size: cover;
  background-position: center center;
  color: #F7F0F1;
}

.page.timedout #page-content .container {
  padding: 60px 0px;
}

.page.timedout .jk-subheading {
  font-size: 26px;
}

.page.timedout .jk-login-form {
  max-width: 400px;
  margin: auto;
}
    .page.timedout .jk-playonus-form {
        max-width: 400px;
        margin: auto;
    }
.page.cards .header-image:before,
.page.cards .header-image:after {
  background-color: #FFFFFF;
}

.jk-page-cards {
  background-color: #FFFFFF;
}

.jk-page-cards .jk-separator {
  margin-top: 50px;
  margin-bottom: 50px;
}

.jk-page-cards .jk-cards-header p {
  padding: 0px 30px 20px 30px;
}

.jk-page-cards .jk-quick-info .jk-heading {
  padding-left: 5%;
  padding-right: 5%;
}

.jk-page-cards .jk-quick-info p {
  padding-left: 0;
  padding-right: 0;
}

.jk-page-cards .jk-cards-table {
  margin-top: 40px;
  margin-bottom: 50px;
}

.jk-page-cards .jk-cards-table .jk-heading {
  font-size: 26px;
}

.jk-page-cards .jk-cards-table .jk-feature {
  width: 45%;
  text-align: left;
  padding-left: 0;
}

.jk-page-cards .jk-card-img {
  min-width: 44px;
}

.jk-page-cards .jk-cards-table table {
  border-collapse: collapse;
  width: 100%;
}

.jk-page-cards .jk-cards-table table th,
.jk-page-cards .jk-cards-table table td {
  padding-top: 15px;
  padding-bottom: 15px;
  border: 2px solid #d5cecf;
}

.jk-page-cards .jk-cards-table table tr td:first-child,
.jk-page-cards .jk-cards-table table tr th:first-child {
  border-left: 0;
}

.jk-page-cards .jk-cards-table table tr td:last-child,
.jk-page-cards .jk-cards-table table tr th:last-child {
  border-right: 0;
}

.jk-page-cards .jk-callout {
  margin-top: 40px;
  font-size: 21px;
  font-family: 'DINPro';
}

.jk-page-cards .jk-callout .jk-heading {
  font-size: 26px;
  line-height: 1;
  margin: 0;
}

.jk-page-cards .jk-callout .jk-btns {
  margin-top: 20px;
  margin-bottom: 32px;
}

.jk-page-generic .jk-items {
  margin-top: 50px;
  margin-bottom: 50px;
}

.jk-page-generic .jk-items .jk-heading {
  margin: 0;
}

.jk-page-generic .jk-items .jk-btns {
  margin-top: 32px;
  margin-bottom: 32px;
}

.jk-page-generic .jk-items .jk-btns .jk-btn {
  margin-right: 4px;
  margin-bottom: 10px;
}

.jk-page-generic .jk-items .jk-content-more {
  display: none;
  padding-top: 18px;
  padding-bottom: 18px;
  border-bottom: 1px solid #716A6B;
}

.jk-page-generic .jk-items a.load-more {
  color: #000000;
  border-bottom: 1px solid #716A6B;
  text-decoration: none;
  display: block;
  text-align: left;
  border-radius: 0px;
  margin-top: 32px;
}

.jk-page-generic .jk-items a.load-more span {
  background-color: black;
  color: #FFFFFF;
  padding: 0px 0px 3px;
  width: 24px;
  display: inline-block;
  text-align: center;
  margin-right: 8px;
}

.jk-page-generic .jk-items hr {
  margin-top: 50px;
  margin-bottom: 50px;
}

.jk-page-generic .jk-items hr:last-child {
  display: none;
}

.jk-page-generic .jk-items .jk-booking {
  text-align: center;
  margin-top: 6px;
}

.jk-page-generic .jk-items>.row {
  margin-bottom: 0 !important;
}

.jk-page-leadership .jk-items {
  margin-top: 50px;
  margin-bottom: 50px;
}

.jk-page-leadership .jk-items .jk-heading {
  margin: 0;
}

.jk-page-leadership .jk-items .jk-btns {
  margin-top: 32px;
  margin-bottom: 32px;
}

.jk-page-leadership .jk-items hr {
  margin-top: 50px;
  margin-bottom: 50px;
}

.jk-page-leadership .jk-items hr:last-child {
  display: none;
}

.jk-page-leadership .jk-items>.row {
  margin-bottom: 0 !important;
}

#page-content #content {
  overflow: initial;
}

.jk-page-events #featured-events {
  margin-right: -4px;
}

.jk-page-events #featured-events .jk-carousel {
  padding: 0;
}

.jk-page-events #featured-events .jk-carousel .event.jk-img-card {
  cursor: all-scroll;
  margin: 0;
  margin-right: 3px;
}

.jk-page-events #featured-events .jk-carousel .event.jk-img-card .img-wrapper {
  width: 100%;
  padding-top: 60%;
  min-height: 300px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url('../images/event-no-img.jpg');
}

.jk-page-events #featured-events .jk-carousel .event.jk-img-card .back-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: transparent;
}

.jk-page-events #featured-events .jk-carousel .event.jk-img-card .backbox {
  padding: 30px 0;
  height: auto;
  max-height: 100%;
  background: transparent;
  color: #FFFFFF;
}

.jk-page-events #featured-events .jk-carousel .event.jk-img-card .backbox .jk-superheading {
  text-transform: uppercase;
  font-size: 14px;
}

.jk-page-events #featured-events .jk-carousel .event.jk-img-card .backbox .jk-heading {
  font-size: 24px;
}

.jk-page-events #featured-events .jk-carousel .event.jk-img-card .backbox .jk-desc {
  font-size: 19px;
  margin-bottom: 4px;
  color: inherit;
}

.jk-page-events #featured-events .jk-carousel .event.jk-img-card .backbox .jk-date-wrapper {
  text-transform: uppercase;
}

.jk-page-events #featured-events .jk-carousel .event.jk-img-card .backbox .jk-date-wrapper .fa {
  color: inherit;
  margin-left: 20px;
}

.jk-page-events #featured-events .jk-carousel .event.jk-img-card .backbox .jk-btn {
  width: auto;
}

.jk-page-events #featured-events .jk-carousel .event.jk-img-card:hover .back-wrapper {
  background-color: rgba(161, 9, 3, 0.8);
}

.jk-page-events #featured-events .jk-carousel .owl-buttons {
  display: none;
}

.jk-page-events #featured-events .jk-carousel .owl-controls {
  margin-top: 10px;
  line-height: 1em;
}

.jk-page-events #featured-events .jk-carousel .owl-page span {
  width: 6px;
  height: 6px;
  background-color: #666666;
}

.jk-page-events #featured-events .jk-carousel .owl-page.active span {
  background-color: #000000;
}

.jk-page-events #events-filters {
  margin-top: 70px;
}

.jk-page-events #events-filters .filters {
  padding-left: 0;
  margin-bottom: 0;
}

.jk-page-events #events-filters .filters .filter {
  font-size: 18px;
  list-style: none;
  display: inline-block;
  text-transform: uppercase;
  color: #AD2025;
  border-width: 2px 0 2px 2px;
  border-style: solid;
  border-color: #AD2025;
  padding: 3px 15px;
  margin-left: 0px;
  margin-right: 0px;
  cursor: pointer;
  min-width: 120px;
}

.jk-page-events #events-filters .filters .filter.active {
  color: #ffffff;
  background-color: #AD2025;
}

.jk-page-events #events-filters .filters .filter:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.jk-page-events #events-filters .filters .filter:last-child {
  border-right-width: 2px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

@media only screen and (max-width: 768px) {
  .jk-page-events #events-filters .filters .filter {
    border-width: 2px !important;
    border-radius: 0px !important;
    margin-top: 2px;
    margin-right: 2px;
  }
}

.jk-page-events #events-grid {
  padding-top: 30px;
  padding-bottom: 40px;
}

.jk-page-events #events-grid .jk-separator {
  margin-top: 40px;
  margin-bottom: 40px;
}

.jk-page-events #events-grid .event {
  margin-bottom: 30px;
  position: relative;
  transition: all 0.3s ease-in-out;
}

.jk-page-events #events-grid .event .img-wrapper {
  padding-top: 70%;
  background-image: url('../images/event-no-img.jpg');
  background-size: cover;
  background-position: center;
}

.jk-page-events #events-grid .event .meta-wrapper {
  padding: 20px;
  background-color: #ffffff;
  min-height: 190px;
}

.jk-page-events #events-grid .event .meta-wrapper .jk-superheading {
  font-size: 14px;
  text-transform: uppercase;
}

.jk-page-events #events-grid .event .meta-wrapper .jk-heading {
  font-size: 24px;
  font-weight: 700;
  text-transform: none;
  line-height: 24px;
  margin-top: 0px;
  margin-bottom: 10px;
}

.jk-page-events #events-grid .event .meta-wrapper .jk-desc {
  font-size: 16px;
  line-height: 18px;
}

.jk-page-events #events-grid .event .meta-wrapper .jk-date-wrapper {
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
  padding: 0 20px;
  color: #AD2025;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 700;
}

.jk-page-events #events-grid .event .meta-wrapper .jk-date-wrapper .fa {
  color: inherit;
}

.jk-page-events #events-grid .event .btn-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  opacity: 0;
  background-color: rgba(161, 9, 3, 0.8);
  transition: opacity 0.3s ease-in-out, top 0.3s ease-in-out;
  cursor: pointer;
}

.jk-page-events #events-grid .event .btn-wrapper .jk-btns {
  text-align: center;
  width: 100%;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.jk-page-events #events-grid .event .btn-wrapper .jk-btns .jk-btn:hover {
  color: #221D1E;
}

.jk-page-events #events-grid .event:hover {
  transform: translateY(-10px);
  -webkit-box-shadow: 0px 12px 30px -10px rgba(0, 0, 0, 0.43);
  -moz-box-shadow: 0px 12px 30px -10px rgba(0, 0, 0, 0.43);
  box-shadow: 0px 12px 30px -10px rgba(0, 0, 0, 0.43);
}

.jk-page-events #events-grid .event:hover .btn-wrapper {
  opacity: 1;
}

.jk-page-events .mix {
  display: none;
}

body.search {
  background-color: #FFFFFF;
}

body.search .header-section {
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
  color: #FFFFFF;
}

body.search .header-section .container {
  padding-left: 0;
  padding-right: 0;
}

body.search .header-section .jk-separator {
  margin-bottom: 24px;
}

body.search .no-results {
  background-color: rgba(34, 29, 30, 0.5);
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;
  color: #FFFFFF;
}

body.search .no-results .page-title {
  padding-top: 0px;
  text-transform: uppercase;
  color: inherit;
  font-weight: 700;
}

body.search .no-results .page-content form.search-form {
  margin-top: 32px;
}

body.search article.hentry {
  padding-top: 10px;
  padding-bottom: 30px;
}

body.search article.hentry .entry-header .title-post a {
  text-decoration: underline;
  font-weight: 700;
  font-size: 28px;
  text-transform: capitalize;
}

body.search article.hentry .entry-header .meta-post {
  display: none;
}

body.search article.hentry .entry-footer {
  display: none;
}

body.search article.hentry hr {
  margin-top: 40px;
  margin-bottom: 20px;
}

body.search .navigation {
  margin-top: 50px;
  font-weight: 700;
}

body.search .navigation .nav-links .nav-previous {
  padding-left: 0px;
}

body.search .navigation .nav-links .nav-next {
  padding-right: 0px;
}

@media only screen and (max-width: 991px) {
  body.mobilemenu-active {
    overflow: hidden;
  }
  body.mobilemenu-active .jk-menu-container {
    position: fixed;
    left: 0;
    top: 100px;
    right: 0;
    bottom: 0;
    overflow-x: hidden;
    overflow-y: auto;
  }
  body.mobilemenu-active .jk-menu-container #mainnav-mobi {
    position: relative;
    top: 0;
  }
  .page:not(.jk-logged-in) .header-image:before,
  .page:not(.jk-logged-in) .header-image:after {
    background-color: #221D1E;
  }
  .site-header {
    /*position: fixed !important;*/
    /* background-color: rgba(34, 29, 30, 0.9) !important; */
    height: 100px;
  }
  .jk-login-row {
    display: block;
  }
    .jk-playonus-row {
        display: block;
    }
}

@media only screen and (max-width: 768px) {
  .jk-img-card {
    margin: auto !important;
    margin-bottom: 30px !important;
  }
  .jk-img-card.text-left .forebox,
  .jk-img-card.text-right .forebox {
    padding-left: 20px;
    padding-right: 20px;
  }
  .jk-forms-area form {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media only screen and (max-width: 564px) {

  .hero-backdrop {
    margin-top: 0;
  }
  .jk-img-card .forebox p {
    display: none;
  }
  .text-slider-section .jk-slider-banner {
    font-size: 42px;
  }
  .text-slider-section p {
    font-size: 22px;
  }
  h1 {
    font-size: 32px;
  }
  h2 {
    font-size: 26px;
  }
  h3 {
    font-size: 21px;
  }
  h4 {
    font-size: 18px;
  }
  h5 {
    font-size: 16px;
  }
  h6 {
    font-size: 14px;
  }
  .jk-heading,
  .jk-slot .jk-slot-name,
  .jk-slot .jk-slot-jackpot {
    font-size: 24px;
  }
  .jk-subheading {
    font-size: 18px;
  }
}

.wpcf7-form p {
  margin-bottom: 24px;
  padding: 0px;
}

.wpcf7-form input,
.wpcf7-form textarea {
  box-shadow: none;
  outline: none;
}

.wpcf7-form input:focus,
.wpcf7-form textarea:focus {
  border-color: rgba(173, 32, 37, 0.75);
}

.wpcf7-form input[type=submit] {
  margin-top: 20px;
}

div.wpcf7-response-output {
  margin: 2em 0em 1em;
}

div.wpcf7-validation-errors {
  border-color: #AD2025;
}

.headerfooter_hidden {
  display: none !important;
  visibility: hidden;
}

#page-content.headerfooter_hidden_css {
  margin-top: 0;
}

.play-for-fun-promo-mini {
  border-bottom: 1px solid #716A6B;
  margin-bottom: 28px !important;
}

.play-for-fun-promo-container {
  position: absolute;
  left: -247px;
  top: 4px;
  display: inline-block;
  background-image: url("https://www.jackentertainment.com/wp-content/uploads/2017/01/PlaynowButton12116.gif");
  background-size: 80px;
  background-position: right 3px center;
  background-repeat: no-repeat;
  background-color: #000;
  border-radius: 10px;
}

.play-for-fun-promo {
  text-transform: uppercase;
  padding-right: 100px;
  padding-top: 0;
  padding-bottom: 0;
  background-color: transparent !important;
}

.play-for-fun-promo:hover {
  background-color: rgba(173, 32, 37, 0.5) !important;
}

.play-for-fun-promo .play-now {
  font-weight: normal;
  font-size: 13px;
  margin: 0;
}

.play-for-fun-promo .for-free {
  margin: 0;
  font-weight: bold;
  display: block;
  margin-top: -4px;
  padding-bottom: 5px;
  font-size: 19px;
}

.play-for-fun-promo-mini a,
.play-for-fun-promo {
  color: #FFF !important;
}

#win-loss-block {
    padding-bottom: 20px;
    border-bottom: dashed;
    font-family: 'DINPro';
}

#win-loss-block #wl-terms-wrapper {
    font-size: 12px;
    color: white;
    margin-bottom: 10px;
}

#win-loss-block #wl-terms-wrapper > span {
    position: relative;
    top: 2px;
}

#win-loss-block #wl-year-wrapper {
    color: white;
    font-size: 16px;
    margin-bottom: 21px;
    clear: both;
    text-align: justify;
}

#win-loss-block #wl-year-wrapper > select {
    padding: 0 0 0 11px;
    font-size: 16px;
    height: 30px;
    position: relative;
    margin-left: 26px;
    width: 120px;
}

#win-loss-block #wl-download-btn-wrapper {
    text-align: center;
}

#win-loss-block #wl-download-btn-wrapper > input {
    padding: 6px 16px;
    margin: auto;
}

#win-loss-block #winLossDownload {
    padding: 10.5px 16px;
    color: #FFFFFF;
    margin: auto;
    border-color: #AD2025;
    background-color: #AD2025;
    border: 0 solid #057fb8;
    box-shadow: none !important;
    font-size: 18px;
    line-height: 24px;
    text-transform: none;
    font-weight: normal;
    transition: all 0.3s;
    border-radius: 3px;
}

#win-loss-block #winLossDownload:hover{
    color: #FFFFFF;
    background-color: rgba(161, 9, 3, 0.8);
}

#win-loss-block .btn-disabled {
    opacity: 0.3;
}

#win-loss-block .btn-disabled:hover {
    cursor: default;
}

#win-loss-block #winLossAgreementLabel {
    display: inline;
}

#win-loss-block #winLossCaesarsStmt {
    color: #FFF;
    font-size:12px;
    margin-top: 20px;
}

#monthly-mailer-btn {
  display: block;
  width: 100%;
  margin-bottom: 12px;
  font-size: 18px;
  font-family: 'DINPro';
  text-transform: none;
  font-weight: normal;
}

.shadow {
  -webkit-transition: 0.1s ease all;
  transition: 0.1s ease all;
  background-color: none !important;
  box-shadow: 0 0px 0px rgba(0, 0, 0, 0);
  z-index: 99;
}

.shadow:hover {
  -webkit-transition: 0.1s ease all;
  transition: 0.1s ease all;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
  z-index: 999;
}

.startwithshadow:hover {
  -webkit-transition: 0.1s ease all;
  transition: 0.1s ease all;
  box-shadow: 0 0px 0px rgba(0, 0, 0, 0);
  z-index: 999;
}

.staticshadow {
  -webkit-transition: 0.1s ease all;
  transition: 0.1s ease all;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
  z-index: 99;
}

.startwithshadow {
  -webkit-transition: 0.1s ease all;
  transition: 0.1s ease all;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
  z-index: 99;
}

.insetshadow {
  box-shadow: inset 0 10px 30px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0 10px 30px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 10px 30px rgba(0, 0, 0, 0.3);
}

.grow {
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out;
  position: relative;
  z-index: 99;
}

.grow:hover {
  -webkit-transform: scale(1.025);
  transform: scale(1.025);
  z-index: 999;
}

.flex-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
}

.no-child-vertical-padding * {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.align-items-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.align-items-center * {
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  max-width: 100%
}


/* Border Radius Helpers */

 .align-items-center * {
   -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%
 }

 /*** START CAREER PAGE TILES - FLIP ANIMATIONS ***/
 .tile {
    color: white;
    z-index: 99;
    position: relative;
    -webkit-perspective: 600px;
    perspective: 600px;
}

.tile .tile-sizing-img {
    opacity: 0;
}

.tile .frontpanel {
    float: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 900;
    width: 100%;
    height: 100%;
    text-align: center;
    box-shadow: 0 1px 5px rgba(0,0,0,0.9);
    -webkit-transform: rotateX(0) rotateY(0);
    transform: rotateX(0) rotateY(0);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.tile .frontpanel {
    -webkit-transform: rotateX(0);
    transform: rotateX(0);
}

.tile .frontpanel .panel-msg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: #FFF;
    width: 100%;
    padding: 2em;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.tile .backpanel {
    float: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 800;
    width: 100%;
    height: 100%;
    text-align: center;
    -webkit-transform: rotateY(-179deg);
    transform: rotateY(-179deg);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.tile .backpanel .redoverlay {
    width: 100%;
    height: inherit;
    background-color: rgba(161, 9, 3, 0.8);
    position: absolute;
    color: #FFF;
    padding: 2em;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.tile .backpanel {
    -webkit-transform: rotateX(-180deg);
    transform: rotateX(-180deg);
}

.tile .tile-bk-img {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%
}

/*** FLIP ***/
.tile:hover .frontpanel , .tile.flip .frontpanel  {
    z-index: 900;
    border-color: #eee;
    box-shadow: 0 15px 50px rgba(0,0,0,0.2);
    -webkit-transform: rotateY(179deg);
    transform: rotateY(179deg);
}

.tile:hover .frontpanel, .tile.flip .frontpanel {
    -webkit-transform: rotateX(180deg);
    transform: rotateX(180deg);
}

.tile:hover .backpanel, .tile.flip .backpanel {
    z-index: 1000;
    -webkit-transform: rotateX(0) rotateY(0);
    transform: rotateX(0) rotateY(0);
    box-shadow: 0 15px 50px rgba(0,0,0,0.2);
}

.tile:hover .backpanel, .tile.flip .backpanel {
    -webkit-transform: rotateX(0);
    transform: rotateX(0);
}

@media only screen and (max-width: 451px) and (orientation : portrait) {
    .tile .backpanel .redoverlay .small {
        padding: 0;
    }

    .tile .backpanel .redoverlay {
        padding: 0.5em;
    }
}
/*** END CAREER PAGE TILES - FLIP ANIMATIONS ***/



/*Nav Pills (Underlined)*/

nav.nav-pills.underlined {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

nav.nav-pills.underlined .nav-link {
  display: block;
  padding: 1em 0;
  margin: 0 1em;
  color: #221D1E;
  font-family: 'DINPro-Bold';
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 1.5rem;
  border-bottom-color: transparent;
  border-bottom-style: solid;
  border-bottom-width: 4px;
}

nav.nav-pills.underlined .nav-link.active {
  color: #AD2025;
  border-bottom-color: #AD2025;
}

nav.nav-pills.underlined .nav-link:hover {
  color: rgba(173, 32, 37, 0.75);
  border-bottom-color: rgba(173, 32, 37, 0.75);
}


@media (min-width: 576px) {
  nav.nav-pills.underlined .nav-link:first-child {
    margin: 0 1em 0 0;
  }
}

.to-top-circle {
    display: none;
    position: fixed;
    cursor: pointer;
    z-index: 9999;
    bottom: 20px;
    right: 30px;
}

.to-top-circle .glyphicon {
  color: #FFFFFF;
  padding: 10px;
  line-height: 30px;
  border-radius: 30px;
  background: rgba(0, 0, 0, 0.35);
  font-size: 30px;
}

/* -- App Store Banner Style -- */
.slide-out {
  animation-name: slide-out !important;
  bottom: -140px !important;
}

@keyframes slide-in {
  0% { bottom: -130px; }
  5% { bottom: -123.5px; }
  10% { bottom: -117px; }
  15% { bottom: -110.5px; }
  20% { bottom: -104px; }
  25% { bottom: -97.5px; }
  30% { bottom: -91px; }
  35% { bottom: -84.5px; }
  40% { bottom: -78px; }
  45% { bottom: -71.5px; }
  50% { bottom: -65px; }
  55% { bottom: -58.5px; }
  60% { bottom: -52px; }
  65% { bottom: -45.5px; }
  70% { bottom: -39px; }
  75% { bottom: -32.5px; }
  80% { bottom: -26px; }
  85% { bottom: -19.5px; }
  90% { bottom: -13px; }
  95% { bottom: -6.5px; }
  100% { bottom: 0px; }
}

@keyframes slide-out {
  0% { bottom: 0px; }
  5% { bottom: -6.5px; }
  10% { bottom: -13px; }
  15% { bottom: -19.5px; }
  20% { bottom: -26px; }
  25% { bottom: -32.5px; }
  30% { bottom: -39px; }
  35% { bottom: -45.5px; }
  40% { bottom: -52px; }
  45% { bottom: -58.5px; }
  50% { bottom: -65px; }
  55% { bottom: -71.5px; }
  60% { bottom: -78px; }
  65% { bottom: -84.5px; }
  70% { bottom: -91px; }
  75% { bottom: -97.5px; }
  80% { bottom: -104px; }
  85% { bottom: -110.5px; }
  90% { bottom: -117px; }
  95% { bottom: -123.5px; }
  100% { bottom: -130px; }
}

#app-store-banner-container {
  z-index: 1000;
  border-radius: 8px;
  background: rgba(235, 235, 235, .9);
  color: rgb(55, 55, 55);
  display: flex;
  position: fixed;
  bottom: 5px;
  left: 0px;
  margin: 2%;
  width: 96%;
  height: 90px;
  visibility: visible;
  animation-name: slide-in;
  animation-duration: .3s;
}

#app-store-banner-link {
  display: inline-flex;
}

#app-store-banner-close {
  color: grey !important;
  background: none;
  padding: 5px;
  height: 30px;
  min-width: 25px;
}

#app-store-banner-image {
  margin: auto;
  height: auto;
  max-width: 75px;
  padding: 0px;
  border-radius: 18px;
  box-shadow: 1px 1px 5px black;
  background: grey;
}

#app-store-banner-description {
  margin: auto;
  padding-right: 12px;
  padding-left: 12px;
}

#app-store-banner-description .row {
  margin: 2px;
  color: rgb(20, 20, 20);
}

#app-store-banner-name {
  font-size: medium;
  font-weight: bolder;
}

#app-store-banner-promo {
  font-size: small;
}

@media (min-width: 768px) and (max-width: 992px) {
  #app-store-banner-container {
    max-width: 40%;
    margin-left: 30%;
  }

  #app-store-banner-image {
    min-width: 70px;
  }
}

#w2g-form-modal .modal-dialog.loading .loading-spinner {
  display: block;
  opacity: 1;
  width: 100%;
  height: 100%;
  text-align: center;
  padding-top: 130px;
  background-color: rgba(84, 84, 84, .31);
}

#w2g-form-modal .modal-dialog .loading-spinner {
  opacity: 0;
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}

#w2g-form-modal .modal-dialog .loading-spinner .fa {
  font-size: 40px;
  color: #FFFFFF !important;
}

/* Contact Us Widget */
.social-button {
  height: 64px;
  width: 64px;
  display: inline;
  text-align: center;
  margin: 0 15px 0 15px;
}

.social-button img {
  height: 64px;
  width: 64px;
}

.social-button-container {
  display: table;
  height: 64px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px !important;
}

.google-map-container {
  border: 0;
  height: 250px;
  margin-top: 50px;
}

.google-map-container iframe {
  width: 100%;
  height: 100%;
}

@media (max-width: 767px) {
  .social-button-container {
    margin-bottom: 35px !important;
  }
  
  .social-button {
    height: 48px;
    width: 48px;
    margin: 0 10px 0 10px;
  }

  .social-button img {
    height: 48px;
    width: 48px;
  }
}

/* Event Floorplan Widget Greektown */
.greektown-event-floorplan {
  background: #dedede;
  padding-top: 25px;
  padding-bottom: 25px;
}

.greektown-event-floorplan .room-details {
  margin-top: 15px;
  margin-bottom: 15px;
}

.greektown-event-floorplan .wrap_input {
  margin-top: 15px;
}

.greektown-event-floorplan select {
  width: 100%;
}

.greektown-request-proposal-form h3 {
  color: #AD2025;
  letter-spacing: 1px;
  font-family: 'DINPro-Bold';
  text-transform: uppercase;
  line-height: normal;
  font-weight: 300;
  font-size: 28px;
}

.greektown-request-proposal-form form {
  text-align: center;
  margin: 40px 0 40px 0;
}

.greektown-request-proposal-form input {
  width: 300px;
}

.greektown-request-proposal-form select {
  width: 300px;
}

.greektown-event-floorplan .floor-plan-form select:disabled {
  background-color: #dedede;
}

#stay-connected-section {
  padding: 35px 0 0 0;
}